 body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

.logo {
    width: 156px; 
    height: 130px; 
    padding-left: 2%;
    padding-bottom: 1%;
   
}
.banner{
    width: 1220px; 
    height: 150px; 
    padding-left: 1%;
    padding-top: 1px;
}

nav {
    background-color: #154734;
    overflow: hidden;
    text-align: center;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

nav a:hover, nav a:active {
    background-color: transparent;
    color: yellow;
  }

  nav a.active{
    background-color: transparent;
    color: yellow;
  }

  .login-container {
 display: flex;
justify-content: space-around;
margin-top: 100px;
}

.login-box {
 border: 5px solid #ddd;
 background-color: gainsboro;
 padding: 10px;
 width: 350px;
 height: 370px;
}

.login-box h2 {
 text-align: center;

}

.login-box label {
 display: block;
 margin-bottom: 5px;
}

.login-box input[type="text"], .login-box input[type="password"] {
 width: 90%;
 padding: 10px;
 margin-bottom: 20px;
}

.login-box input[type="submit"] {
 width: 97%;
 padding: 10px;
 background-color: #154734;
 color: white;
 border: none;
 cursor: pointer;
}
.login-box h4{
    text-align: center;
}
